.time{
    text-align: center;
    padding: 32px;
    position: relative;
}

.time h3{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 4px solid;
}

.time .colaboradores{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 32px;
}

.input-color {
    position: absolute;
    top: 20px;
    right: 50px;
}